extend layout

block content
  body.site
    header.about-banner
    include nav
    .main-grid
      .about-ty
        .hero-img
          figure
            img.ty-portrait(src="images/about/ty_portrait_tedTurner_ranch.jpg")
            figcaption.italic  Flying D Ranch, Montana | Image by Morgan Levy
        .about-ty-content
          h4.section-title  About Ty
          hr.selection-title-hr
          h2.about-ty-title  Improving experience through human-centered design
          p
            | I am passionate about a lot of things, but efficiency is at the top. I am on a mission to make life easier through careful research, learned empathy and better user experiences. Why is a powerful word, used correctly it can uncover a wealth of information that leads to a better informed and methodical how.
          p
            | This year I will have completed a UX design masters program at BDW(at
            a(href="https://www.colorado.edu/cmci/aprd/ma/stcm") CU Boulder
            | ). Here I've had the opportunity to study under some of the industries' best while working on real campaigns with real brands such as Wrigley’s, Integer and Brass Taxes.
          p
            | In addition to my education as a UX designer, I've lead the dot com photography department at WWE, I've underwritten million dollar insurance policies and I am an
            a(href="https://www.tyfoster.com") internationally recognized commercial photographer
            |  with two published books.
          p
            | Work aside, I seize any free time to get outside and trail run or mountain bike. A day in which you can eat breakfast for all three meals is a good day. I love a loud house full of friends and family, louder music and I strongly believe in the welfare of animals.
          p
            | I currently live in Golden, CO and I am originally from a town in Connecticut that had one traffic light. (It has three now – moving on up!).
    section.blog
      .main-grid
        h4.section-title  From the blog
        hr.selection-title-hr
        #blogContent.section-content
          #jsonContent.blog-cards
        // /#blogContent
        .text-center
          a#loadBlogPosts.btn.btn-dark(href="https://medium.com/@tyfoster")
            | View All
            span.fa.fa-angle-double-right
    include footer
    script(src="js/nav.js")
    script(src="js/blog.js")
