#contact.footer-content
      .footer-wrapper
        .footer-intro
          svg.main-logo(xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewbox="0 0 198 198")
            title   foster_logo
            polygon#cls-1(path="" points="87 41.2 54.7 41.2 54.7 186.6 87 186.6 87 114.6 141.4 114.6 141.4 84.2 87 84.2 87 41.2")
            rect#cls-1(path="" x="87.5" y="10.8" width="56.5" height="30.4")
          hr.hr-vertical
          .footer-intro-text
            h4.footer-name  Ty Foster
            p.footer_text  UX | UI | Brand | Photography
        .footer-nav
          a.footer_link.work  Work
          a.footer_link.about  About
          a.footer_link.writing(target="_blank")  Writing
          a#email.footer_link(target="_blank")  Email
          a#ens.footer_link(target="_blank")  tyfoster.eth
        .footer-follow
          a#metamask(target="_blank")
            svg#eth-icon(enable-background="new 0 0 226.777 226.777" height="226.777px" version="1.1" viewbox="0 0 226.777 226.777" width="226.777px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
              g
                polygon(fill="#231F20" points="112.553,157 112.553,86.977 44.158,116.937  ")
                polygon(fill="#231F20" points="112.553,82.163 112.553,-0.056 46.362,111.156  ")
                polygon(fill="#231F20" points="116.962,-0.09 116.962,82.163 184.083,111.566  ")
                polygon(fill="#231F20" points="116.962,86.977 116.962,157.002 185.405,116.957  ")
                polygon(fill="#231F20" points="112.553,227.406 112.553,171.085 44.618,131.31  ")
                polygon(fill="#231F20" points="116.962,227.406 184.897,131.31 116.962,171.085  ")
          a#twitter.fa(target="_blank")
            i.fa.fa-twitter(aria-hidden="true")
            span.sr-only Twitter
          a#linkedin.fa
            i.fa.fa-linkedin-square(aria-hidden="true")
            span.sr-only LinkedIn
        .footer-copyright
          p.footer_text.ethAddress  0x327B888dcd1fC9ece9E72a3FF2C74488506A2074
          p.footer_text  All rights reserved ®Ty Foster |  Golden, CO. | 860.919.4355
