extend layout

block content
    include nav
    section.project-slide(data-section-name="Ty Foster User Experience Designer")
      .header-content
        h1.hey  hey
        p.heroMission
          | Life is hard. As a UX designer, I can make life a little easier—and easy is good.
    section.grid-projects.projectOneBanner.project-slide#work(data-section-name="MyEtherWallet")
      .centerLeftCol.project-copy
        p#skillSet  ux design, ux research, ui,
        h2.projectTitle  MyEtherWallet
        p.CardContent  Interacting with the blockhcain made easy.
        .cardLink
          a#projectOne.btn View Work
      .colRight
        picture
          source(media='(min-width: 600px)', srcset='images/projectOne/homepage_laptop.png')
          source(media='(min-width: 450px)', srcset='images/projectOne/homepage_laptop_mobile.png')
          img.img-lrg(src='images/projectOne/homepage_laptop.png', alt='laptop with mew homepage')
    section.grid-projects.projectTwoBanner.project-slide#work(data-section-name="CVS")
      .centerLeftCol.project-copy-dark
        p#skillSet  ux design, ux research, animation,
        h2.projectTitle-dark  CVS
        p.CardContent  Designing for accessibility.
        .cardLink
          a#projectTwo.btn View Work
      .colRight
        picture
          source(media='(min-width: 600px)', srcset='images/projectTwo/cvs_hero.png')
          source(media='(min-width: 450px)', srcset='images/projectTwo/cvs_hero_mobile.png')
          img.img-sm(src='images/projectTwo/cvs_hero_mobile.png', alt='laptop with mew homepage')
    section.grid-projects.projectThreeBanner.project-slide(data-section-name="ModHealth")
      .centerLeftCol.project-copy
        p#skillSet  ux design
        h2.projectTitle  ModHealth
        p.CardContent
          | Disrupting the healthcare market and empowering customers through customizable healthcare plans.
        span.cardLink
          a#projectThree.btn View Work
      .colRight
        picture
          source(media='(min-width: 600px)', srcset='images/projectThree/mobile_modhealth.png')
          source(media='(min-width: 450px)', srcset='images/projectThree/mobile_modhealth_mobile.png')
          img.img-sm(src="images/projectThree/mobile_modhealth.png" alt='iphone showing modhealth mobile screen')
    section.grid-projects.projectFourBanner.project-slide(data-section-name="Specialized")
      .centerLeftCol.project-copy-dark
        p#skillSet  ux design, ux research, ui
        h2.projectTitle-dark  Specialized
        p.cardContent Increasing conversion rates using an already existing e-commerce platform.
        span.cardLink
          a#projectFour.btn View Work
      .colRight-bleed
        picture
          source(media='(min-width: 600px)', srcset='images/projectFour/ipadiphone.png')
          source(media='(min-width: 450px)', srcset='images/projectFour/ipadiphone_mobile.png')
          img(src="images/projectFour/ipadiphone.png" alt='iphone and ipad showing specialized mobile screens')
    section.grid-projects.projectFiveBanner.project-slide(data-section-name="NHL")
      .centerLeftCol.project-copy-dark
        p#skillSet  ux design, vui
        h2.projectTitle-dark  NHL
        p.cardContent Deploying brand content through multiple modalities.
        span.cardLink
          a#projectFive.btn View Work
      .colRight
        picture
          source(media='(min-width: 600px)', srcset='images/projectFive/hero1.png')
          source(media='(min-width: 450px)', srcset='images/projectFive/hero1_mobile.png')
          img.img-md(src="images/projectFive/hero1.png" alt='Alexa and nhl chatbot screens')
    section.grid-projects.projectSixBanner.project-slide(data-section-name="Magic Mirror")
      .centerLeftCol.project-copy
        p#skillSet  ux, front end development
        h2.projectTitle  MagicMirror
        p.cardContent Encouraging classroom collaboration through an enchanted object.
        span.cardLink
          a#projectSix.btn View Work
      .colRight.img-center-vert
        picture
          source(media='(min-width: 600px)', srcset='images/projectSix/mirror_silo1.png')
          source(media='(min-width: 450px)', srcset='images/projectSix/mirror_silo1_mobile.png')
          img.img-lrg(src="images/projectSix/mirror_silo1.png")
    include footer
    script(src="/js/nav.js")
    script.
      jQuery(function($) {
      $.scrollify({
      section : ".project-slide",

      });
      });
