doctype html
html
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  meta(charset="utf-8")
  meta(http-equiv="x-ua-compatible" content="ie=edge")
  meta(name="title" property="title" content="Ty Foster | User Experience Designer | Creative Problem Solving")
  meta(name="keywords" property="keywords" content="UX design, UI Design, Human Centered Design")
  meta(name="description" property="description" content="Ty Foster is a experience designer located in Golden, Colorado.")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title  Ty Foster | User Experience Designer | Creative Problem Solving
  link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
  link(rel="icon" href="/favicon.ico" type="image/x-icon")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css")
  link(rel="manifest" href="site.webmanifest")
  link(rel="apple-touch-icon" href="icon.png")
  // Place favicon.ico in the root directory
  link(href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,900|Lora:400" rel="stylesheet")
  // <link rel="stylesheet" href="css/normalize.css">
  link(rel="stylesheet" href="css/style.css")
  link(rel="stylesheet" href="css/nav.css")
  link(rel="stylesheet" href="css/blog.css")
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  script(src="https://use.fontawesome.com/908e12750c.js")
  script(src="/js/links.js")
  script(src="/js/nav.js")
  script(src="/js/nameTop.js")
  script(src="/jquery/jquery.js")
  script(src="/js/jquery.scrollify.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-dateFormat/1.0/jquery.dateFormat.js")
  body.site
    block content
