.nav-container
  span.name-top
    a.home  Ty Foster
  #toggle.button_container
    span.top
    span.middle
    span.bottom
  #overlay.overlay
    nav.overlay-menu
      ul
        li
          a.work Work
        li
          a.about About
        li
          a.writing(target="_blank") Writing
        li
          a.contact Contact
