extend layout

block content
    include nav
    .work-container
    section.grid.section
      .centerLeftCol.hero-copy-dark
        h2  A 43 year legacy revamped.
        p
          | Specialized has been a leader in crafting beautiful bikes, it's time their website catches up.
      .colRight-bleed
        img(src="images/projectFour/ipadiphone.png" alt="new Specialized website")
    section.roles.grid.section
      span.spanImage
        h3.projectSubtitles
          | Can we increase conversion rates on an already existing e-commerce platform with design thinking?
    section.ask.outcome.grid.colorSpan.section
      .centerLeftCol
        h4  The Ask
        p
          | Increase the conversion rate on an already existing e-commerce platform with a KPI of 3% sales increase.
      .centerRightCol
        h4  The Outcome
        p
          | Implement already existing and tested UX interactions throughout the entire conversion funnel to better the customer experience-providing the customer with better suggestions, more flexibility and an easier experience.
    section.grid.section
      .spanImage
        figure
          img.image.img-lrg(src="images/projectFour/iphone_four_screen.png" alt="new Specialized mobile-first website")
        figcaption  High fidelity mockups of new mobile site
    section.grid.section
      .content
        h2  My Role
        p
          | I was responsible for the UX research and the UX design. This project was completed in 2017. A few months after this project was completed, Specialized rolled out an entire revamp of their website—which included a lot of the ideas I had hypothesized would make for a better user experience and increased conversions.
    section.discovery.grid.colorSpan.section
      .content
        h2  The Discovery
        p
          | The discovery phase focused on several different aspects; current website, analytics, user pain-points, examining the  competitive landscape and understand the relationship between supplier and dealer.
        h4  Personas
        p
          | From the get go, I created several personas to help establish a foundation, develop empathy and help guide decision making. I created three different personas based on different archetypes. These three personas ranged from an expert rider who rides everyday, an intermediate rider who rode a lot but less frequently now due to life constraints and someone who had little understanding of the products and does not ride. Traditionally these personas would have been created from user interviews but because of constraints these were not possible.
      .spanImage
        figure
          img.image.img-xlrg.zoom(src="images/projectFour/personas.png" alt="personas used for website")
        figcaption  user personas
      .content
        h4  Analytics
        p
          | Early on, the analytical research revealed that they had close to a 30% bounce rate. While not bad, there was definitely room for improvement. Additionally, site duration per visitor was less than a minute which is far less than the
          a(href="https://www.nngroup.com/articles/how-long-do-users-stay-on-web-pages/") average
          | . The only analytics that I had access to were those from Alexa.com, typically, having access to the Google Analytics would be a much more powerful tool. With G.A. I could slice the data more specifically, understand the goals and conversion funnels that have been established, gain a holistic understanding of their current traffic and ultimately understand the current customer journey.
    section.grid.section
      figure.spanImage
        img.img-lrg.drpshadow(src="images/projectFour/specialized_current.jpg" alt="current Specialized website")
        figcaption.mid-width.caption
          | Specialized's current website, the main product page doesn't have a filter, sort, or customer ratings. In addition, there is no quick preview when you hover
    section.grid.section
      .content
        h4  Taxonomy and Card Sorts
        p
          | I wanted to establish if the taxonomy of the site was conducive to customers’ tasks and whether or not the experience level or familiarity with the product had any effect on their goals. Here, I employed the use of card sorts to determine how individual customer would structure the website in order to easily complete their task and if there were any critical pieces missing that would make their journey easier.
        figure
          img.img-sm.img-desaturate(src="images/projectFour/rebeckah_Card_sort.jpg" alt="One of the card sorts used")
          figcaption.justified-right.caption
            | One of the many card sorts I conducted during the discovery phase.
        p
          | The short answer was yes, there were several tools that customers wanted that were not available on Specialized's website. Additionally, I discovered that regardless of the riding level(beginner, intermediate, advanced), customers were able to find what they wanted and the user structured taxonomy was close to what was currently implemented. The card sorts were invaluable; a quick and inexpensive way to test the validity of the current navigation and website content.
        h4  Supplier + Dealer Relationship
        p
          | This was a critical part of the research. I spoke to three different owners of three different bike shops. Two were authorized Specialized dealers and one was not. All three provided valuable insight into customer purchasing behavior, the type of questions customers asked prior to making a purchase and the relationship suppliers have with the dealer. Unbeknown to myself was how strong the relationship is between dealer and supplier.
          | In fact, what I learned was that the majority of suppliers(e.g. Specialized) encouraged customers to buy in-store rather than online. This insight offers several opportunities.
        h4  Customer Empathy
        p
          | Every single customer wanted to learn as much about the products as they could. The majority of customers really wanted an expert’s take on the product they were purchasing. For example the interviews with the dealers all revealed that when customers come in, they want to know why they should buy the more expensive product over the moderately priced product. What makes it better? What is the value proposition for me?
          | Have you(the owner) tried it? Will it hold up over time? Additionally, when it came to bike helmets or clothing/accessories worn above the waste, they wanted to know what it looked like on? Finally, and most importantly, when it came to helmets or other protective accessories every customer wanted to know how safe they were and what they offered in terms of protection.
    section.grid.section
      .content
        h2  Competition
        ul
          li.img-card
            figure
              img.img-sm-left(src="images/projectFour/specialized.gif" alt="Specialized current product pages")
              figcaption  Specialized Product Page
            span
              h4  Specialized Individual Product Page
              p
                | For a high consideration product, Specialized is missing important product information like customer reviews, rating and easily digestible content such as supporting images and videos
          li.img-card
            figure
              img.img-sm-left(src="images/projectFour/Yeti_scroll.gif" alt="Yeti bikes and their current product page.")
              figcaption  Yeti product
            span
              h4  Yet Individual Product
              p
                | Yeti offers an incredible amount of information about their bike that is engaging and easily understood from a customer prospective. Yeti engages and educates the user while simultaneously exciting them about the potential purchase.
        p
          | When it comes to online shopping, everyone is your competition. The reason why bike companies like the relationship with dealers is that they have a champion for their brand in the store. Despite being one of the leaders in the cycling world and being one of the largest manufacturers, Specialized is missing a lot of information online that their competition offers. Such as:
      .content.center
        ul.listNumbered
          li  Product Reviews
          li  Product Ratings
          li  Product Photos (In-scale, Interactive)
          li  Specific Product Benefits
          li  Product compare feature
          li  A size helper
          li  Filters
          li  Product video
    section.grid.section
      .spanImage
        figure
          img.spanImage-center-img(src="images/projectFour/lowfi_wireframes.jpg" alt="the lower fidelity wireframes I generated for the project")
          figcaption  Wire framing for the mobile viewport for Specialized's website
    section.grid
      .content
        h2  Potential Solutions
        h4  Filter, Compare, Learn, Purchase
        p
          | After combing through all my notes with owners and customers, looking at analytical data and doing e-commerce specific research I decided on the following changes to the Specialized's website.
          | Adding filters to the product pages that include: Gender, Price, Avg Rating and Type would help immediately narrow a customers options.
          br
          | In addition a sort feature would further help the customer to narrow down options. A compare feature that allows the customer to drag and drop columns would facilitate a purchase and allow for top level feature comparison. For the individual product pages, adding the eight additional features I mentioned above would keep the customer from potentially leaving the website to look else where for information. Finally, site-wide changes would include shipping incentives, a guest checkout(which can lead to an
          a(href=".https://blog.kissmetrics.com/first-step-of-checkout/") increase conversion
          |  at checkout by 5%).
        figure
          img.spanImage(src="images/projectFour/spec_checkout_current.png" alt="Specialized's current checkout on their website.")
        figcaption  Current checkout process requires you to create an account or log in
        h4  Pre-loaded Map
        p
          | An interesting piece of information that was uncovered during the research was how tight of a relationship the supplier and the dealers have. On each product page there is a 'find nearby' button, which when clicked opened another tab and loads a map to show the closest dealers. However, because suppliers still want customers to try and visit a store to make a purchase, it would make sense that helping them find a store should be as easy as possible. Instead of having a map open up to another tab, I changed the ‘find nearby’ button to an anchor link that would immediately scroll the user down the page to an already populated map that has all the nearest dealers, their address, hours of operations and whether or not the product they were looking at was in stock.
    section.grid.section
      .spanImage
        figure
          img.img-lrg(src="images/projectFour/map_feature_wireframe.png" alt="Pre-populated—find a dealer–wireframe")
          figcaption  Wireframes of the map feature for the mobile and desktop viewport
    section.grid
      .content
        h2  Sketches
        p
          | I decided to take a mobile first approach. Based on the site analytics, the customer interviews and market trends, mobile first became apparent as one of the most important viewports. I started with broad features and worked to more granular features on the individual products themselves.
      .content
        figure
          img(src="images/projectFour/low_res_wireframes.jpg" alt="low fidelity wireframes")
          figcaption
            | low res wireframes including filter, sort and guest checkouts.
    section.grid.colorSpan.section
      .content
        h2
        .spanImage.section
          figure
            img.img-lrg(src="images/projectFour/high_res_mockups.png" alt="High resolution wireframe mockups I designed for the new website")
            figcaption  New proposed Specialized digital presence
        p.center-text
          a.btn(href="https://invis.io/TBEXQRLA2")
            | High Fidelity Clickable
            br
            |  Prototype for Mobile
        p
          | Sketch allows for quick wire framing, symbol management and seamless prototyping. Using Sketch I was able to quickly mockup the changes I would make to the website. Using sketch you can visually see if the changes fit to the user journey and whether or not the change will enhance the customer experience. Once the prototypes were roughed in I could then begin to iterate on them and start pushing the fidelity. From Sketch, it's simple to add in clickable functionality to determine if the customer journey would be as intuitive and easy as we think.
    section.grid.section
      .content
        h2  What I Learned
        p
          | Our initial task was to increase online conversions by 3%. With the changes I implemented a customer can come to Specialized’s site, quickly filter and sort their way to the product they were looking for, compare features, quickly add it to their cart of find a local dealer and get out and ride. I believe that these changes would certainly lead to an increase in conversion rate for Specialized.
        p
          | Having access to the companies analytics from the beginning would have been incredibly helpful to determine where the pain points were in the customers journey rather than speculating. Creating flushed out, low fidelity prototypes helped with a lot of the functionality and lead to a few new insights which I implemented into the hi fidelity prototypes.  Using the tap and hold feature that now comes with iOS11, I added the ability for customers to preview an item rather than having to click the product and waiting for it to load to learn more. Another feature I added based on the low fidelity feedback was once an order was placed, in addition to showing a confirmation screen, the website would now provide you with Specialized's favorite ride near you, based on the zip code information provided during the checkout process–furthering the customer experience beyond checkout and hopefully building brand loyalty.
        p.italic
          | October of 2017, Specialized rolled out their new website, including almost all my hypothesized solutions. This further validates all the research that I did was accurate even without all the helpful data
    .next-project-navigation
      .previousProject
        a#projectThree.Project-items
          i.material-icons arrow_back
          p Previous Project
      .nextProject
        a#projectFive.Project-items
          i.material-icons arrow_forward
          p  Next Project
    include footer
    script(src="/js/nav.js")
