extend layout

block content
    include nav
    .work-container
      section.grid.projectTwo.section
        .centerLeftCol.hero-copy-dark
          h2  Designing for accessibility
          p
            | For an app centered around healthcare, designing for user's disabilities shouldn’t be an after thought.
        .colRight
          img.img-md(src="images/projectTwo/cvs_header.png" alt="new cvs app")
      section.roles.grid.section
        span.spanImage
          h3.projectSubtitles  How might we modify the CVS pharmacy app such that users with low vision can accomplish tasks more successfully?
      section.ask.outcome.grid.colorSpan.section
        .centerLeftCol
          h4  The Ask
          p Designing for a specific disability, choose and redesign an existing app so that it meets 508 and WCAG compliant standards.
        .centerRightCol
          h4  The Outcome
          p
            | A CVS app that is WCAG compliant such that a person with low vision can successfully manage and refill their current prescriptions without additional help.
      section.grid.section
        .centerLeftCol
          figure
            img.img-lrg(src="images/projectTwo/oldCVSAndroid.png" alt="The old CVS app")
            figcaption  The old CVS app.
        .centerRightCol
          figure
            img.img-lrg(src="images/projectTwo/newCVSAndroid.png" alt="The new CVS app")
            figcaption  The new app designed for individuals with low vision.
      section.grid
        .content
          h4 Designing for accessibility can be useful for everyone.
          p The core insights we gained while doing our user research was that the majority of our low vision users preferred apps like Clear or Capital One because of their simple interfaces, discoverability and the affordances that the apps provided. While doing usability testing with our users using CVS's current app we discovered the CVS has a lot of room for improvement from an accessibility standpoint. Some of our insights included: need for dynamic text, the amount of visual clutter, the poor voiceover experience and their current icons. Using this insight, we focused on improving the information architecture, designing for discoverability, improved the icons, improved contrast, designed for dynamic text and group icons and text for a better voiceover experience. We focused on both the iOS and Android viewports.
          p.pullquote  “It's very easy for somebody who has very narrow vision to get overwhelmed with too much content...That's why I don't use like 90% of my apps.”
          p.pullquote-author  Interviewee who had Retinopathy
      section.grid.section
        .video.content.center
          video.img-sm(autoplay="" loop="" poster="images/projectTwo/cvs_onboard.gif")
            source(src="images/projectTwo/cvs_onboard.mp4" type="video/mp4")
            source(src="images/projectTwo/cvs_onboard.webm" type="video/webM")
      section.grid.section
        .content
          h4 Designing for recognition
          p After interviewing all of our users who consisted of both visual and non-visual impairments, we concluded that most of the users relied on icons to help complete their intended tasks on an app. However, for those with visual impairments, having icons that were designed using outlines(like the current icons on the CVS app) as opposed to solid shapes made it very difficult to decipher what the icon was. So, besides redesigning the icons, we also wanted to introduce the icons immediately to bolster recognition—and what better place to introduce those icons than on the on-boarding screens.
      section.seed.grid.section
        figure.centerLeftCol
          img.img-xlrg.drpshadow(src="images/projectTwo/rxCard.png" alt="current card")
          figcaption  Default card.
        .centerRightCol
          h4  Default Rx Card
          p  The default prescription card has two call-to-actions. The first is details which extends the card down to show additional information about your prescription and a refill button that allows the user quick refill access.
        .centerLeftCol
          figure.centerLeftCol
            img.img-xlrg.drpshadow(src="images/projectTwo/rxCard_Dynamic.png" alt="Rx card with dynamic text")
            figcaption  RX card with dynamic text
        .centerRightCol
          h4 Dynamic Text
          p  The current CVS app wasn't designed with dynamic text in mind. Dynamic text is incredibly important for people with low vision. We chose one of the longest prescriptions we could find so that we could design for a 200% increase in font size.
      section.grid
        picture.spanImage
          source(media='(min-width: 600px)', srcset='images/projectTwo/dynamicText_allscreens.png')
          source(media='(min-width: 450px)', srcset='images/projectTwo/dynamicText_allscreens_mobile.png')
          img.img-xlrg(src='images/projectTwo/dynamicText_allscreens.png', alt='dynamic text screens for CVS')
      section.grid.section
        .content
          h2  Process.
          p
            | This project presented us with a lot of challenges, primarily reaching out and finding users who had low vision and were willing to be interviewed and use the current CVS app. Relating to this, CVS is a relatively new brand to Colorado, very few people use CVS as their pharmacy, nevermind using the actual app. However we eventually found enough users to gain actionable insight. We transcribed all our interviews and created postcards for each of our interviewees and built a mental model using
            a(href='https://rosenfeldmedia.com/books/mental-models/') Indie Young
            |  framework.
          P
            | Having created a mental model, we were able to pinpoint areas of frustration and joy for our users and create personas that we could use to design from and remain empathetic.  As mentioned previously, we discovered several points of frustration when using the app from a user with low vision. Again, these were improving the voiceover experience, implement dynamic text, redesign the icons and simplifying the app.
      section.grid.section
        .content
          h2  What I learned
          p
            | Designing for accessibility can be beneficial for everyone, even those with no disabilities. One of the largest challenges we came up against was how can keep the companies business goals in mind while redesigning. It was easy to redesign the app just having low vision in mind, but to re-design with other disabilities in mind and the buisness goals would have presented larger challenges—however, often times constraints breed creativity.
    .next-project-navigation
      .previousProject
        a#projectOne.Project-items
          i.material-icons arrow_back
          p Previous Project
      .nextProject
        a#projectThree.Project-items
          i.material-icons arrow_forward
          p  Next Project
    include footer
    script(src="/js/nav.js")
