extend layout

block content
    include nav
    .work-container
    section.grid.colorSpan3.section
      .centerLeftCol.hero-copy
        h2  Healthcare for the way you live.
        p
          | Modhealth, health coverage that you understand. We offer customizable health insurance that allow you to pay only for what you need and get on with life. Empowering you to be you.
      .colRight
        img.img-sm(src="images/projectThree/mobile_modhealth.png")
    section.grid.section
      .content
        h3.projectSubtitles
          | How might we disrupt the existing health insurance industry while empowering customers with a greater understanding of their healthcare coverage?
    section.ask.outcome.grid.colorSpan.section
      .centerLeftCol
        h4  The Ask
        p
          | We were tasked to use Google's design sprint model to define a problem that affects the local community, understand how they currently solve the problem and craft a solution that solves the  problem(s) in a manner that both sustains the investment and drives exponential growth.
      .centerRightCol
        h4  The Outcome
        p
          | A customizable insurance plan platform for customers and small insurance companies. Let customers select and purchase only the relevant parts of the coverage they need. Ultimately people should feel good about the coverage they just purchased rather than feeling forced and without-choice.
    section.grid.section
      .spanImage
        figure.img-lrg
          img(src="images/projectThree/mh_customize.gif")
          figcaption.figcaption
      .content
        h4  Chatbot Integration
        p
          | An integrated chatbot allows for customers to ask the questions they have in the terms they know and we do the heavy lifting by deciphering the insurance lexicon for them.
        figure.img-md
          img(src="images/projectThree/mh_chatbot.gif")
          figcaption.figcaption
        figure.img-sm
          img(src="images/projectThree/modhealth_mockup.gif")
          figcaption.figcaption
    section.myrole.grid.section
      .content
        h2  How we got there
        h4  My Role
        p
          | I was responsible for the UX design and the animations. Myself and two others worked cohesively to determine the scope of the project, the features, perform competitive analysis and interviews.
      .problem.content
        h2  Framing the problem
        h4  Health Insurance wasn't built to be understood
        p
          | Health insurance is required by law. Everyone needs it. However, the majority of people don't understand it, we trust that what we were billed is correct. The whole system feels, at times, intentionally obfuscated, esoteric and frustrating. If you are required to have insurance but have little understanding of what you are purchasing or what it covers, is it any surprise that everyone feels frustrated?
        p.italic.block
          | 1. Health insurance policies are sold in pre-determined packages that are not customized to people’s needs.
        p.italic.block
          | 2. There is no incentive for health insurance providers to make their policies easily understandable for customers.
        p.italic.block
          | 3. People that purchase individual insurance policies are largely uneducated on what their plan covers.
    section.grid.section.colorSpan
      span.content
        h3.projectSubtitles
          | Defining the design problem is an often overlooked part of finding its solution.
    section.discovery.grid.section
      .content
        h2  The Discovery
        h4  Research
        p
          | We interviewed 21 individuals. Of the 21, all had either purchased insurance through the open market, had insurance through their company, some were on medicare and a few had insurance previously but were currently uninsured. After combing through our interviews the majority of individuals felt that they had little to no understanding of their policies. No one had a firm knowledge of how much a doctors visit would be and the individuals who were self employed or people in the service industry found it extremely difficult to afford insurance.
        span
          p.pullquote
            | "My provider—their website is terrible. Whatever is ailing me, I find a specialist through Google and call them to see if they take my insurance."
          p.pullquote-author  Currently covered interviewee
          p
    section.grid.section
      .content
        ul
          li.img-card
            figure
              img.img-xsm-left.zoom(src="images/projectThree/competitive_analysis.png")
              figcaption.figcaption-left
            span
              h4  Competitive Analysis
              p
                | Other than the marketplace, there are no companies that come close to allowing you to customize your insurance.
          li.img-card
            figure
              img.img-xsm-left.zoom(src="images/projectThree/affinity_map.jpg")
              figcaption.figcaption-left
            span
              h4  Affinity Mapping
              p
                | After combing through our interviews, we broke out what most people wanted most from their insurance, what they disliked and what they liked.
          li.img-card
            figure
              img.img-xsm-left.zoom(src="images/projectThree/single_funnel.jpg")
              figcaption.figcaption-left
            span
              h4  Conversion Funnel
              p
                | Using what we learned from our interviews, we created personas and mapped how we might potentially convert them.
    section.grid.section
      figure.spanImage
        img(src="images/projectThree/conversion_funnels.jpg")
        figcaption  Conversion and empathy maps for all of our personas
    section.wireframes.grid.section
      .content
        h2  Wireframing
        h4  Applying our insights.
        p
          | Insurance needs to be easier to understand and needs to be built for the person who is being covered, not for the healthcare companies. During the wire-framing phase and ideation, we wanted to focus on educating the customer while they sign up. Empowering people to understand what they are buying while finding a plan that fits them.
      .spanImage
        figure
          img.img-xlrg(src="images/projectThree/customer_questions_wires.png")
          figcaption.justified-right.caption
            | Customer questions screens
    section.grid.section
      .content
        h2 Final
        h4  Health coverage that actually cares
        p
          | ModHealth is an affiliate marketing platform that will initially be targeted at the individually insured—those individuals who typically frequent the open marketplace to find coverage. ModHealth offers education while helping you find the coverage you need. Primarily focusing on Colorado, ModHealth will also be a benefit to much smaller insurance providers who currently offer coverage but no dashboard by allowing those companies to use ModHealth's dashboard feature. Finally, we hope to disrupt the healthcare market by augmenting the way customers currently purchase their insurance.
        p.center-text
          a.btn(href="https://projects.invisionapp.com/share/UKGGXMSPBS4#/286640273_Homepage") High-Fidelity Prototype
      .spanImage.section
        figure
          img.img-xlrg(src="images/projectThree/high_fiedlity_screens.png")
        figure.img-lrg
          img(src="images/projectThree/personalized_dashboard.png")
      .content.section
        h2  What I Learned
        p
          | The healthcare industry is entrenched. Creating ModHealth would require a large adoption of uninsured or individually insured customers in order for ModHealth to be able to convince insurance companies to allow customization of their plan. The healthcare industry is ripe for a disruptive technology. Generally speaking, applying a service design methodology to this sector would not just improve the life of the employee but also the customer.
          | This project would have certainly benefited from additional testing and prototyping. Having been able to get this interface in front of a larger audience would have also provided us additional actionable insight regarding our UX and UI.
    .next-project-navigation
      .previousProject
        a#projectTwo.Project-items
          i.material-icons arrow_back
          p Previous Project
      .nextProject
        a#projectFour.Project-items
          i.material-icons arrow_forward
          p  Next Project
    include footer
    script(src="/js/nav.js")
